- if @page_title
  %h2
    = @page_title
    
- if defined?(@by_date)
  #graph
  = raw(chart("graph", { "Tag Activity Timeline" => { :collection => @by_date, :x => :date, :y => :value, :options => {:color => "#2f63ac"} }}, {:legend => {:show => false}, :lines => {:fill => true, :lineWidth => 4}, :grid => {:show => false, :borderWidth => 0, :borderColor => "#ffffff", :tickColor => "#ffffff"}}))

- if @things.respond_to?(:total_pages)
  = will_paginate(@things, :previous_label => "&laquo; Later", :next_label => "Earlier &raquo;")

= render :partial => "things/thing", :collection => @things

- if @things.respond_to?(:total_pages)
  = will_paginate(@things, :previous_label => "&laquo; Later", :next_label => "Earlier &raquo;")
