<%= render :partial => "static/header" %>
<div id="main_well" class="span-17">
  <h2><%= @page_title %></h2>
<ul class="chartlist span-16">
  <%= render :partial => "chart_item", :collection => @tags, :locals => {:total => @total} %>
</ul>     

<dl id="trend_index" class="clear">
  <dt>Other trends</dt>
  <dd class="date">
    <strong>By Date (YYYY-MM-DD)</strong> 
    <form action="#" method="get">
      <input type="text" name="date" id="date" value="<%= params[:date] %>" />
      <input type="submit" value="Go" />   
    </form>  
    <p>Or would your rather see this trend <%= link_to "over FollowIndy's existence?", url_for(:overwrite_params => {:alltime => true}) %></p>
  </dd>
  <dd class="others">
    <ul>
      <li><%= link_to "Professional journalists", :subdomain => "pro" %></li>
      <li><%= link_to "The public at large", :subdomain => "public" %></li>
      <li><%= link_to "1070 The Fan", :subdomain => "the_fan" %></li>
      <li><%= link_to "Indy's Flickr users", :subdomain => "flickr" %></li>
      <li><%= link_to "Indiana Business Journal", :subdomain => "ibj" %></li>
      <li><%= link_to "The Indianapolis Star", :subdomain => "indystar" %></li>
      <li><%= link_to "Nuvo", :subdomain => "nuvo" %></li> 
      <li><%= link_to "PickyList", :subdomain => "picky"%></li>
      <li><%= link_to "Indy's Twitter users", :subdomain => "twitter" %></li>
      <li><%= link_to "WIBC", :subdomain => "wibc" %></li>
      <li><%= link_to "WISH", :subdomain => "wish" %></li>
      <li><%= link_to "WRTV", :subdomain => "wrtv" %></li>
      <li><%= link_to "WTHR", :subdomain => "wthr" %></li>
      <li><%= link_to "Everybody", :subdomain => false %></li>
      </ul>
      
    
  </dd>
  
</dl>    
</div>
<%= render :partial => "static/rail", :locals => {:short => true} %>