<div id="header span-24">
  <h1><%= link_to "Follow<span class=\"second\">Indy</span>", home_url(:subdomain => false) %></h1>
  <div id="nav" class="clearfix span-24">     
    <div class="span-1 border"><%= link_to "Pro", home_url(:subdomain => "pro") %></div>
    <div class="span-2 border"><%= link_to "Public", home_url(:subdomain => "public") %></div>
    <div class="span-1 border"><%= link_to "IBJ", home_url(:subdomain => "ibj") %></div>
    <div class="span-2 border"><%= link_to "IndyStar", home_url(:subdomain => "indystar") %></div>
    <div class="span-2 border"><%= link_to "Nuvo", home_url(:subdomain => "nuvo") %></div> 
    <div class="span-2 border"><%= link_to "PickyList", home_url(:subdomain => "picky") %></div> 
    <div class="span-2 border"><%= link_to "Twitter", home_url(:subdomain => "twitter") %></div>
    <div class="span-2 border"><%= link_to "WIBC", home_url(:subdomain => "wibc") %></div>
    <div class="span-2 border"><%= link_to "WISH", home_url(:subdomain => "wish") %></div> 
    <div class="span-2 border"><%= link_to "WRTV", home_url(:subdomain => "rtv") %></div>
   <div class="span-2 border"><%= link_to "WTHR", home_url(:subdomain => "wthr") %></div>
   <div class="span-2 border"><%= link_to "☞ Gist", gist_url(:subdomain => false) %></div>
   <div class="span-2 last"><%= link_to "☞ Trends", trends_url(:subdomain => false) %></div>
  </div>
</div>
    
    
    
    
    
    
    
