!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title 
      FollowIndy 
      = " :: " + @page_title unless @page_title.blank?
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"
    = javascript_include_tag "instapaper"
    <!--[if IE]><script language="javascript" type="text/javascript" src="/javascripts/excanvas.pack.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" src="/javascripts/jquery.flot.pack.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag 'app.css', :media => 'screen, projection'
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7925001-1']);
      _gaq.push(['_setDomainName', '.members.linode.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #header.clearfix
      %h1
        %a{:href => "/"} FollowIndy
      %ul#nav
        %li#search
          - form_tag(searches_path, :method => :get) do
            = text_field_tag(:q)
            %input{:type => "submit", :value => "Go"}/
        %li
          %a{:href => "/about"} About
        %li
          %a{:href => "/sources"} Sources
    #content
      = yield
    #footer
      %p.copyright
        Copyright of content is held by their respective owners
    :plain
      <script type="text/javascript" src="http://include.reinvigorate.net/re_.js"></script>
      <script type="text/javascript">
        try {
          reinvigorate.track("5y1xd-kh7a88sxf8");
        } catch(err) {}
       </script>